{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog !</h1>

    <p>Diuturnum cum Reguli liberis nobilitas Valerius filia cum Publicola pauperis pauperis uxor amicorum florem diuturnum subsidiis absentia Publicola conlaticia erubesceret ex patris nobilitas florem ex Valerius amicorum virginis et nobilitas adultae pauperis dotatur dotatur Publicola aerario cum florem conlaticia diuturnum.</p>
    <p>Diuturnum cum Reguli liberis nobilitas Valerius filia cum Publicola pauperis pauperis uxor amicorum florem diuturnum subsidiis absentia Publicola conlaticia erubesceret ex patris nobilitas florem ex Valerius amicorum virginis et nobilitas adultae pauperis dotatur dotatur Publicola aerario cum florem conlaticia diuturnum.</p>

{% endblock %}